.Block-demarche {
    font-family: 'Titillium',sans-serif;
    padding-block: 2rem;
    background-color: #eee;
    &_heading {
        font-size: 2.5rem;
        font-weight: bold;
        text-align: center;
        margin-block: 2rem;
    }
    &_para {
        text-align: center;
        line-height: 1.2rem;
        &--last {
            margin-block-start: 1rem;
        }
        & span {
            font-weight: bold;
        }
    }
    &_steps {
        width: min-content;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-block-start: 2rem;
        @include media-break-up(690) {
            position: static;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 30px;
            width: auto;
            transform: translate(0);
        }
    }
    &_step {
        margin: 30px 15px;
        padding-block: 3rem;
        width: 14rem;
        background-color: #fff;
        @include media-break-up(690) {
            margin: 0;
        }
        &_img {
            width: 40px;
            position: relative;
            padding-block-end: 1rem;
            left: 50%;
            transform: translateX(-50%);
        }
        &_para {
            font-weight: bold;
            text-align: center;
            &--color {
                color: #f00;
            }
        }
    }
}